@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: rgb(255, 207, 1);
	--secondary-color: #fff6de;
	--text-primary-color: rgb(15, 23, 28);
	--text-secondary-color: rgb(15 23 28 / 40%);
	--dropdown-bg: #363d42;
}

/* Start Background css */
.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

h2 {
	color: #fff;
	font-family: poppins;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box div {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.box div::before {
	content: '$';
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
	display: block;
	text-align: center;
	line-height: 30px;
}

.box div:nth-child(1) {
	top: 12%;
	left: 42%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
	top: 70%;
	left: 50%;
	animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
	top: 17%;
	left: 6%;
	animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
	top: 20%;
	left: 60%;
	animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
	top: 67%;
	left: 10%;
	animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
	top: 80%;
	left: 70%;
	animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
	top: 60%;
	left: 80%;
	animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
	top: 32%;
	left: 25%;
	animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
	top: 90%;
	left: 25%;
	animation: animate 8s linear infinite;
}

.box div:nth-child(10) {
	top: 20%;
	left: 80%;
	animation: animate 5s linear infinite;
}

.line {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: transparent;
}

.line-1 {
	z-index: 15;
	opacity: 0.5;
}

.line-2 {
	z-index: 10;
	opacity: 0.7;
}

.line-3 {
	z-index: 5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}

.wave1 {
	background-size: 50% 80px;
}

.wave2 {
	background-size: 50% 100px;
	animation: animate2 12s linear infinite;
}

.wave3 {
	background-size: 50% 80px;
	animation: animate2 18s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
	}

	100% {
		transform: scale(1.3) translateY(-90px) rotate(360deg);
		opacity: 0;
	}
}

@keyframes animate2 {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}

	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.5);
	}

	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1);
	}
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
	.box div {
		width: 20px;
		height: 20px;
	}

	.box div::before {
		font-size: 16px;
		line-height: 20px;
	}

	h2 {
		font-size: 1.8em;
	}

	.wave {
		width: 300%;
	}

	.wave1 {
		background-size: 50% 40px;
	}

	.wave2 {
		background-size: 50% 50px;
	}

	.wave3 {
		background-size: 50% 40px;
	}
}

@media (max-width: 480px) {
	.box div {
		width: 15px;
		height: 15px;
	}

	.box div::before {
		font-size: 12px;
		line-height: 15px;
	}

	h2 {
		font-size: 1.5em;
	}

	.wave {
		width: 400%;
	}

	.wave1 {
		background-size: 50% 30px;
	}

	.wave2 {
		background-size: 50% 40px;
	}

	.wave3 {
		background-size: 50% 30px;
	}
}
/* End Background css */

/*Start Mihir Css */

.secondary-shadow {
	box-shadow: 0 4px 24px #bcbec0;
}
.primary-shadow {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-bg {
	background-color: var(--dropdown-bg);
}
.mt-0 {
	margin-top: 0 !important;
}
.top-nav-item:hover {
	color: var(--primary-color);
}
.primary-border {
	border: 1px solid var(--primary-color);
}
.primary-color {
	color: var(--primary-color);
}
.primary-bg {
	background-color: var(--primary-color);
}
.secondary-bg {
	background-color: var(--secondary-color);
}
.text-secondary {
	color: var(--text-secondary-color);
}
.text-primary {
	color: var(--text-primary-color);
}

/* Custom Side nav Item */
.side-nav li a {
	padding: 15px 10px !important;
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-primary-color);
}
.side-nav li a svg {
	display: inherit;
}
.side-nav li a.active {
	background-color: white;
}
.side-nav li a:hover {
	background-color: white;
}
.side-nav li a.active svg {
	color: var(--primary-color);
}
.tab:is(input:checked) {
	border-color: black !important;
	border-bottom-width: 3px !important;
}
.setting-tabs input:hover {
	border-bottom: 3px solid black !important;
}
.analyst-tab .tab:is(input:checked) {
	border-color: var(--primary-color) !important;
}
.invest-tabs .tab:is(input:checked) {
	color: black;
}
.tabs-bordered > .tab {
	border-bottom-width: 3px !important;
	border-color: transparent;
}
.tab {
	height: unset !important;
	padding-bottom: 10px;
}
.custom-tooltip {
	background-color: white !important;
	color: black !important;
	padding: 10px !important;
	width: 180px !important;
	text-align: center;
	font-size: 11px !important;
	line-height: initial !important;
	box-shadow: 0 2px 6px 0 rgba(168, 166, 166, 0.1) !important;
}
.account-suit .custom-tooltip {
	font-size: 16px !important;
	width: 300px !important;
	text-align: left !important;
	color: rgba(0, 0, 0, 0.83) !important;
	font-weight: 400 !important;
	margin-top: 5px !important;
}
.account-suit .custom-tooltip::after {
	content: none !important;
}

.custom-tooltip::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	margin-left: 1em;
	left: 50%;
	right: 0;
	box-sizing: border-box;
	border: 7px solid black;
	border-color: transparent transparent white white;
	transform-origin: 0 0;
	transform: rotate(135deg);
	box-shadow: -3px 3px 3px -2px rgba(168, 166, 166, 0.1);
}

.verification-card:hover {
	box-shadow: 0 4px 24px #bcbec0;
}
.partner-card {
	box-shadow: 0 0px 3px #bcbec0;
}
.partner-card:hover {
	box-shadow: 0 4px 24px #bcbec0;
}
/* Custom Scroller Styles */
body .analyst ul::-webkit-scrollbar {
	width: 5px;
}

body .analyst ul::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: #fafafa;
}

body .analyst ul::-webkit-scrollbar-thumb {
	background-color: #e6e6e6;
}

.banner-area {
	background-image: url('/assets/images/HeroBG.jpg');
}
.cta-button {
	background-image: url('/assets//images/CTABG.jpg');
}
.partner-banner {
	background-image: url('/assets//images/partner-bg.webp');
}
.program-banner {
	background-image: url('/assets//images/partnedetailbg.jpg');
}
/* Responsive Code Here */
@media screen and (min-width: 576px) {
	.package_wrapper .swiper-button-next {
		display: none;
	}
	.package_wrapper .swiper-button-prev {
		display: none;
	}
}
@media screen and (max-width: 576px) {
	.package_wrapper .swiper-button-next,
	.package_wrapper .swiper-button-prev {
		display: unset;
		position: relative;
		top: 20px;
	}
	.package_wrapper .swiper-button-next {
		left: 50px;
	}
	.package_wrapper .swiper {
		overflow-x: hidden;
		padding-bottom: 20px;
	}
}

/*End Mihir Css */

/*Start Registration Banner */
.banner-bg {
	background-image: url(/assets/live-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.privacy-banner-bg {
	background-image: url(/assets/policy.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.legal-banner-bg {
	background-image: url(/assets/legal-documents-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.contact-us-banner-bg {
	background-image: url(/assets/contact-us-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}
.why-icm-banner-bg {
	background-image: url(/assets/why-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

/*End Registration Banner */

/*Star Tree View CSS */
.tree {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* .node {
	background-image: url('/user.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
} */

/* .node:not(.node--root) .node_element::before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	margin: auto;
}

.left-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 50%;
	right: 0;
	top: -21px;
	margin: auto;
}
.right-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: -96%;
	right: 0;
	top: -21px;
	margin: auto;
}

.node_element {
	height: 40px;
	background-color: rgb(1, 179, 1);
	border-radius: 16px;
	color: white;
	min-width: 60px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
}

.node_bottom-line {
	height: 20px;
	width: 1px;
	background-color: rgb(1, 179, 1);
}

.node_children_top_line {
	height: 1px;
	width: 118px;
	background-color: rgb(1, 179, 1);
}

.node_children {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	padding: 20px;
	border-top: 1px solid rgb(1, 179, 1);
	background-color: red;
} */
