@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: rgb(255, 207, 1);
	--secondary-color: #fff6de;
	--text-primary-color: rgb(15, 23, 28);
	--text-secondary-color: rgb(15 23 28 / 40%);
	--dropdown-bg: #363d42;
}

/*Start Mihir Css */

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 120px 24px 160px 24px;
	pointer-events: none;
}

/* .main:before {
	background: radial-gradient(circle, rgba(225, 225, 226, 0) 0, #fafafa 100%);
	position: absolute;
	content: '';
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
} */

.main:after {
	content: '';
	background-image: url('/assets/images/grid.svg');
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.4;
	filter: invert(1);
}

/*End Mihir Css */

/*Start Registration Banner */
.banner-bg {
	background-image: url(/assets/live-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.privacy-banner-bg {
	background-image: url(/assets/policy.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.legal-banner-bg {
	background-image: url(/assets/legal-documents-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.contact-us-banner-bg {
	background-image: url(/assets/contact-us-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}
.why-icm-banner-bg {
	background-image: url(/assets/why-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

/*End Registration Banner */

/*Star Tree View CSS */
.tree {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* .node {
	background-image: url('/user.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
} */

/* .node:not(.node--root) .node_element::before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	margin: auto;
}

.left-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 50%;
	right: 0;
	top: -21px;
	margin: auto;
}
.right-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: -96%;
	right: 0;
	top: -21px;
	margin: auto;
}

.node_element {
	height: 40px;
	background-color: rgb(1, 179, 1);
	border-radius: 16px;
	color: white;
	min-width: 60px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
}

.node_bottom-line {
	height: 20px;
	width: 1px;
	background-color: rgb(1, 179, 1);
}

.node_children_top_line {
	height: 1px;
	width: 118px;
	background-color: rgb(1, 179, 1);
}

.node_children {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	padding: 20px;
	border-top: 1px solid rgb(1, 179, 1);
	background-color: red;
} */
